body {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2e9e4;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.time {
  font-size: 5rem;
  font-weight: bold;
  color: #333333;
}

.colon, .period {
  font-size: 6rem;
  font-weight: bold;
  color:#333333;
  margin: 0 5px;
}

.scramble {
  font-size: 1.5rem;
  justify-content: center;
}

.timeData {
  display: flex;
  flex-direction: column;
  height: 23vh;
  width: 95vw;
  outline: auto;
  overflow: scroll;
  overflow-y: hidden;
  position: absolute;
  top:2vh;
  left: 50%;
  transform: translateX(-50%);
}

.timeList-container {
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 0 5px;
}

.timeList-container > div {
  background-color: antiquewhite;
  margin: 10px;
  outline: auto;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

span {
  display: inline-block;
}

.scramble-display {
  width: 30vh;
  height: 20vh;
  resize: both;
  overflow: hidden;
}